body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 1px solid #000;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px auto;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    padding-top: 10px;
}

/* Larguras específicas da Atividade 4 */
figure.matriz {
    width: 550px;
    margin: 30px auto;
}

figure.familia {
    width: 275px;
    float: right;
    margin: 0 0 10px 10px;
}
